<div *ngIf="node" class="form-group">
  <label for="node.childNode">{{node.childNode}}</label>

  <select id="node.childNode" [(ngModel)]="selectedValue" (change)="updateValue()" class="form-control selectpicker cascade-dropdown"
    data-show-subtext="true" data-live-search="true">
    <option *ngFor="let item of node.children" [ngValue]="item">
      {{item.name}}
    </option>
  </select>

</div>

<div *ngIf="selectedValue && selectedValue.children">
  <app-dropdown [node]="selectedValue" [label]="selectedValue.childNode"></app-dropdown>
</div>